@model DinnergeddonWeb.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<div class="container">

    @if (ViewBag.StatusMessage != "")
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @ViewBag.StatusMessage
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <div class="row">
        <div class="col-7">
            <h2>Change your account settings</h2>
            <hr />
            <a class="btn btn-secondary " href="@Url.Action("ChangeUsername")">
                <span class="glyphicon glyphicon-user"></span>
                Change your username
            </a>
            <br />

            <a class="btn btn-primary " href="@Url.Action("ChangePassword")">
                <span class="glyphicon glyphicon-lock"></span>
                Change your password
            </a>
        </div class="col-7">


    </div>
</div>
