@{
    ViewBag.Title = "About BDG";
}
<div class="container">
    <h2>@ViewBag.Title</h2>

    <h3>BDG - Best Design Group</h3>
    <p>Hej. We are "Best Design Group", BDG for short, and we have created the game called "Dinnergeddon".</p>
    <p>It is the most awesome game ever and you should totally play it!</p>
    <p>Merry Christmas!</p>
</div>