<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAccountService" />
                <binding name="BasicHttpBinding_IHighscoreService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52999/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAccountService" contract="DinnergeddonServiceReference.IAccountService"
                name="BasicHttpBinding_IAccountService" />
            <endpoint address="http://localhost:52999/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IHighscoreService"
                contract="DinnergeddonServiceReference.IHighscoreService"
                name="BasicHttpBinding_IHighscoreService" />
        </client>
    </system.serviceModel>
</configuration>