<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="auto"
         connectionString="Data Source=kraka.ucn.dk; &#xD;&#xA;                         Initial Catalog=dmaj0917_1067644;&#xD;&#xA;                         User ID=dmaj0917_1067644;&#xD;&#xA;                         Password=Password1!"



         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAccountService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/DinnergeddonService/AccountService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountService"
        contract="DinnergeddonServiceReference.IAccountService" name="BasicHttpBinding_IAccountService" />
    </client>
  </system.serviceModel>
</configuration>