


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
    /*padding-top:15px;*/
}

.btn-reg {
    background: #c36800;
    color: white;
}
.color-primary-brown {
    background: #c36800!important;
    color:white!important;
}
/*
    Navigation bar
*/
.footer p{
    margin-bottom:0px;
}

.navbar .nav-link {
    padding: 1rem;
    color: white;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

.navbar-brand {
    padding: 10px;
}

.navbar-brand img {
    height: 30px;
}

.nav-item:hover {
    background: #101010;
}

.nav-item:hover a {
    /*color: black;*/
}

/*
    Footer
*/

.card-footer {
    background-color: #282828;
}

.card-footer p {
    color: white;
    margin: 0;
}
.contact-form {
    background: #fff;
    margin-bottom: 5%;
    /*padding: 10px;
    width: 60%;*/
}
    .contact-form h3 {
        margin-top:5%;
        margin-bottom:5%;
        text-align: center;
    }
    .contact-form .col-md-7{
        padding-left:0;
        padding-right:0;
    }
    .contact-form .col-md-5 {
        padding-left: 0;
        padding-right: 0;
    }